# Data Types and Operators Part 1

##### Some few things to note
1. case sensitive
2. spacing
3. errors
4. print function
5. variable naming

# Print Statement

The print() function a function used to display information to the console. That is, it is a command that is used to display as output a command that has been fed into the program

In [1]:
print('Aggie')
print('Hello people of Africa')
print(6 + 5)
print(True)
x = 5

## The below examples aare examples of formatting string. You can
## think of string formatting as a way of making your code more
## interesting
print(f'The value of x is {x}')
print('The value of x is {}'.format(x))

Aggie
Hello people of Africa
11
True
The value of x is 5
The value of x is 5

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Variables naming

Variables are identifiers used to store or represent values. You can think of variables as storage box that is used to hold information.


Variable naming:

* Use small letters and underscores and numbers where necessary
* Use meaningful names
* Do not allow space (s) in variable names
* Do not begin variables with numbers
* Do not use numbers alone as variable names
* Do not use python reserved words as a variable name
* Variable names are case sensitive, which means that if you store 'Ama' in 'x', if you call 'X' you will get an error

In [9]:
students_names = ['Kelden','Dominic','Aurelia','Jessie','Jessica']
students_names
#print(students_names)

['Kelden', 'Dominic', 'Aurelia', 'Jessie', 'Jessica']

In [15]:
students_name = 'Samuel'
print(students_name)

Students_name = "Benard" # This wrong variable naming , the s shoudn't capitalized
print(Students_name)

Samuel
Benard

In [ ]:
x = 24+45+56+7+8+90+2+10
print(f"The average mark is {x/8} ") #-----> an example of string literals

The average mark is 30.25

### Demonstrations

# Data Types


You can check the variable type using the in-built function "type()"

You can also change a variable from one type to the other.

## Integers

Intergers are positive and negative whole numbers.
In python, to we use 'int' to represent interger values

The function 'type()' is used to check a variable's data type. The data type of a variable can be changed by passing the variable as an argument into the preferred data type

In [22]:
age = 3
weight = 53
print(type(age))
print(type(weight))

<class 'int'>
<class 'int'>

## Float

Floats: decimals or floating points. In python, floats are represented by "float"

In [18]:
wage = 250.50656
bmi = 12.55
height = 5.6

print(wage)
print(type(wage))
print(type(height))
int(wage)
type(wage)

250.50656
<class 'float'>

float

In [ ]:
wage_int = int(wage)
wage_int
print(type(wage_int))
print(wage)
round(wage,3)

In [ ]:
age = 23
age_float = float(age) # float()
print(age_float)

45.0

## Strings

Strings are sequence of charaters that is used to represent textual data. They are immutable, which means that once it is created the characters can not be changed.
String is created using single or double quote ('' or ""). Triple quotes can also be used for multiline string.

In [ ]:
name = 'Esi is a Ghanaian day name'
student_name = 'Mawuli'

student_names = '''
Juliet Mensah
Abigail Kwao
Fred Boamah


'''

## Boolean

Boolean in python takes on the value of either 'True' or 'False'. It is usually used for logical operations, and can also be useful in conditional statements and control flow.

We will see the use cases later in this lesson

In [19]:
True_state = True
False_state = False
print(True_state)
print(False_state)

True
False

### Demonstrations

# Operators

Operators in python are symboles that are used to perform operations with values. The most common operators in python are:

1. Arithmetic Operators
2. Assignment Operators
3. Logical Operators
4. Comparison Operators
5. Membership Operators

### Arithmetric Operators

|Operator||Action|
|----||----|
|+||addition|
|-||subtraction|
|*||multiplication|
|/|| division|
|\**||exponential|
|%||modulo|
|\//|| integer division|

In [ ]:
# Addition

a = 2
b = 5
c = a + b
print(c)

# Substraction
c = b - a
print(c)

# Multiplication or product
c = a * b
print(c)

# Division
c = b/a
print(c)

# Exponential/Power
c = b ** a
print(c)

# Modulo
c = b % a
print(c)

# Integer/Floor Division
c = b//a
print(c)

In [ ]:
print(5*3) # Multiplication
print(5**3) # Power
print(7/2)# division
print(7%2) # modulo
print(7//2)# integer division

15
125

### Assignment operators

These are used to assign or allocate values to variables. These are:

1. Assign or Equal to =
2. Add and Assign +=
3. Substract and Assign -=
4. Multiply and Assign *=
5. Divide and Assign /=

In [23]:
# Assign or Equal to
a = 10
b = 'Print'

# Add and Assign
a = a + 5   # Whcih is the same as a = a + 5
print(a)


# Substact and Assign
a = a - 2   # Whcih is the same as a = a - 5
print(a)

# Multiply and Assign
a = a * 6   # Whcih is the same as a = a * 5
print(a)

# Divide and Assign
a = a / 5   # Whcih is the same as a = a / 5
print(a)

15
13
78
15.6

In [3]:
a,b,c = 13,55,29
print(a)
print(b)
print(c)

13
55
29

## Logical Operators

These operators are used to combine two or more Boolean values. These are:

|Operator||Action|
|----||----|
|and (&)||evaluates if both sides are True|
|or (\|)||evaluates if at least one side is True|
|not||inverses a boolean|

In [2]:
a = True
b = False
c = False

# and
print(a and b)
print(b and c)
print(a and b and c)

# or
print(a or b)
print(b or c)
print(a or b or c)

# not
print(not b)
print(not c)

print(not (b and c))
print(a or (b and c))

False
False
False
True
False
True
True
True
True
True

In [ ]:
for i in range(len(income)):
    if not(income[i] >= 1000):
        print(income[i])

241
365

## Comparison operators

The comparison are used to compare values and then return a Boolean value. These are:

|Operator||Meaning|
|----||----|
|<||less than|
|>||greater than|
|<=||less than or equals to|
|>=||greater than or equals to|
|==||equals to|
|!=|| not equals to|

In [ ]:
a = 3
b = 6
c = 3
d = 2

# Equal to
print(a == b)
print(a != b)
print(d > b)
print(b < c)
print(a >= d)
print(b <= c)

In [14]:
7 > 5 and 3<2

4>3 >2

#eg 1
100 <200 and 100 <50
# True    and   False = False

#eg 2
100 >200 or 100 <50 # since both conditions are False, the whole expression is False based on the or operator

#eg 2
not(100 >200 or 100 <50) # The not negates the boolean.It turns True to False and False to True

True

## Membership Operators

These are used to check if an element is part of a given sequence. We have the 'in' and 'not in'. This returns a boolean *value*

In [ ]:
names = ['Ola','Betrida','Nana','Pierre']
numb = [2,3,7,3,9]

print(4 in numb)
print(4 not in numb)
print('Ola' in names)
print('Mike' in names)

# sub = ['Betrida','Nana','Nadine']
# l = []
# for i in sub:
#     if i in names:
#         l.append(i)
#         print(l)

## Demonstrations

# Trial

1. Create 3 variables, two integers and one float.
   a. Print out the types of the variables
   b. Change the types of the variables
   c. Perform arithmetic operations on the variables

2. Ask a user to input two numbers and compare whether the numbers are equal,greater than, or less than
3. Create two boolean variables called 'is_true' and 'is_false', and perform logical AND, OR, and NOT operations on then
4. Ask a user to input a number called 'balance'. Use '+=' and '-=' to add and substact respectively 5,assign each to 'balance' (thus, don't change the variable names for each case), and print the results. Observe the values and discuss.
5. Create a list of names. Check if a specific name is in the list and print the reslult.

    *_Challenge_*: Create a list of names, and check if the elements in another list of names are present in the first list